.pacman{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s,top 0.5s;
}

.pacman-top{
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    background-color: #f1ad1d;
    transform-origin: bottom center;
    display: inline-block;
    position: relative;
    animation-name: pacman-bites-top;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


@keyframes pacman-bites-top {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
}
.pacman-top:before{
    content: '';
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
    top: 20px;
    right: 30px;
}

.pacman-bottom{
    width: 100px;
    height: 50px;
    border-radius: 0 0 50px 50px;
    background-color: #f1ad1d;
    transform-origin: top center;
    display: inline-block;
    animation-name: pacman-bites-bottom;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes pacman-bites-bottom {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(30deg);
    }
}
