.button-up {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 5px;
    right: 4px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
}

.parent {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 5px;
}

.child-button {
    height: 20px;
    width: 40px;
}

.parent-active {
    background-color: tomato;
}
/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.container {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}

.bar1, .bar2, .bar3 {
    border-top: 5px solid #333;
    margin: 5px 0;
    transition: 0.4s transform;

}

.change .bar1 {
    transform: rotate(-45deg) translate(-13px, 15px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-4px, -8px);
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav a.menu {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    padding: 22px 340px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.menu:hover {
    background-color: #ddd;
    color: black;
}

.topnav {
    background-color: #555;
    position: relative;
    width: 720px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav #myLinks {
    padding-top: 25px;
    position: absolute;
    top: 65px;
    left: 271px;
    display: none;
    width: 194px;
    height: 311px;
    background-color: #333;

}

#myLinks a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 28px;
    margin-top: 15px;
}





















