.green-square, .tabs__item {
    width: 50px;
    height: 50px;
    background-color: green; }

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; }
.tabs__item {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: royalblue; }
.tabs__item--active {
    background-color: tomato; }
